extends layout_with_header

block content
  .body-container
    h3.primary-text Last Updated
    .body-container-contents
      p= lastUpdated
      .warning-text
        if isWorkActive
          p The server is currently working, results may not be accurate!
      form(method='POST' action='/update')
          button(type='submit') Update

  .body-container
    h3.primary-text Anime List
    .body-container-contents
      div
        table(id="animes-table")
          tr(class="primary-text")
            th Title
            th Notes
          each item in animes
            if (item.manual)
              tr(class="primary-text")
                td 
                  a(href='/anime/' + item.mediaId) #{item.title}
                td(class="note-col")
                  span [MANURAL RULE]
            else if (item.isBlacklisted)
              tr(class="error-text")
                td 
                  a(href="/anime/" + item.mediaId) #{item.title}
                td(class="note-col")
                  span [BLACKLISTED]
            else if (item.noResults)
              tr(class="error-text")
                td 
                  a(href="/anime/" + item.mediaId) #{item.title}
                td(class="note-col")
                  span [NO RESULTS]
            else if (item.downloadTime)
              tr(class="warning-text")
                td
                  a(href="/anime/" + item.mediaId) #{item.title}
                td(class="note-col")
                  span [Downloads on #{new Date(item.downloadTime).toLocaleString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })}]
            else
              tr(class="primary-text")
                td
                  a(href="/anime/" + item.mediaId, class="primary-text") #{item.title}
                td(class="note-col")
                  span
