extends layout_with_header

block content
  .body-container
    h3.primary-text Last Updated
    .body-container-contents
      p= lastUpdated
      .warning-text
        if isWorkActive
          p The server is currently working, results may not be accurate!
      form(method='POST' action='/update')
          button(type='submit') Update

  .body-container
    h3.primary-text Anime List
    .body-container-contents
      div
        each item in animes
          if (item.noResults)
            li
              a(href="/anime/#{item.mediaId}" class="error-text") #{item.title} [NO RESULTS]
          else if (item.manual)
            li
              a(href="/anime/#{item.mediaId}" class="primary-text") #{item.title} [MANUAL RULE]
          else
            li
              a(href="/anime/#{item.mediaId}" class="primary-text") #{item.title}
